*{
    padding: 0;
    margin: 0;
    font-family: "Inknut Antiqua", serif;
}

/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00001A;
}

.logo{
    height: 10vh;
}

.icon{
    font-size: 25px;
    color: #7159A8;
    margin-right: 2vw;
    cursor: pointer;
}

.titulo{
    font-size: 35px;
    color: #7159A8;
}

/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00001A;
}

footer p{
    font-size: 10px;
    color: white;
    padding: 10px;
}

/* Index */

.t-s{
    color: #00001A;
    padding: 20px;
}

.produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto img {
  height: 15rem;
}

.produto p {
  margin: 10px 0;
}

#parcela{
    font-size: 10px;
    margin-bottom: 5vh;
}

.box-conteudo{
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha quando a linha atual atingir o limite */
  justify-content: space-between; /* Espaçamento entre os itens */
  gap: 20px; /* Espaço entre os produtos */
}


.produto a {
  text-decoration: none;
  color: inherit;
}

.produto {
  flex: 1 1 calc(25% - 20px); /* Ocupa 25% da largura, menos a margem (4 produtos por linha) */
  box-sizing: border-box; /* Garante que padding e borda sejam incluídos no tamanho do elemento */
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

/* Carrinho */

.t-carrinho{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.t-carrinho i{
    font-size: 60px;
    margin-right: 10px;
}

.containerCart {
    display: flex;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }

  #cart-table {
    width: 100%;
    border-collapse: collapse;
  }

  #cart-table th,
  #cart-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }

  #cart-table th {
    font-weight: bold;
    text-align: left;
  }

  .cart-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11084C;
    color: #fff;
    padding: 1rem;
    margin-top: 5.1rem;
    width: 97.9%;
  }

  .cart-summary h3 {
    margin: 0;
  }

  .summary-item {
    margin-bottom: 0.5rem;
  }

  .summary-item span:first-child {
    font-weight: bold;
  }

  #confirm-button {
    background-color: #11084C;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 2rem;
  }

  .resumo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* produtos */

  .produtoPrin{
    display: flex;
    margin: 10rem 0 2rem 5rem;
    align-items: center;
  }

  .produtoPrin div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  .produtoPrin img{
    width: 19.75dvw;
    border-radius: 5px;
  }

  .prinPro{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttonsPro{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
  }

  .buttonsPro button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 30px;
    margin-top: 20px;
    background-color: #11084C;
    color: #fff;
    border: none;
    border-radius: 30rem;
    cursor: pointer;
  }

  .descricao{
    display: flex;
    text-align: justify;
    margin: 0 5rem 3rem;
  }

  #back-button{
    display: flex;
    margin-top: 20px;
    gap: 30px;
    padding: 10px;
    background-color: #11084C;
    color: #fff;
    border: none;
    border-radius: 30rem;
    cursor: pointer;
  }

  #back-button:hover{
    background-color: #7159A8;
  }

  .voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }


  /* checkout */

.title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.section {
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.order-summary {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-summary li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order-summary li span {
  font-size: 1rem;
}

#formformCheckout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  width: 20rem;
}

.btn {
  background-color: #00001A;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #7159A8;
}

.cssbuttons-io-button {
  background: #7159A8;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: #00001A;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #11084C;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7159A8;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* Cadastro */

#cadastro {
  background-color: #11084C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Alinhamento em coluna para centralizar os elementos */
  margin: 6vh;
  margin-bottom: 21.2vh;
  border-radius: 20px;
  width: 50vh;
  padding: 2rem;  /* Espaçamento interno para melhor visualização */
}

.mainCadastro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column; /* Muda o layout para coluna */
  align-items: flex-start; /* Alinha à esquerda */
  color: white;
  margin-bottom: 1rem; /* Espaço entre cada input */
  width: 100%;
  max-width: 300px; /* Define uma largura máxima para a lista de inputs */
}

.input label {
  margin-bottom: 0.5rem; /* Espaço entre o label e o input */
  font-size: 1rem;
}

.input input[type="text"], 
.input input[type="email"], 
.input input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  width: 100%; /* Faz o input ocupar toda a largura do container */
  margin-bottom: 1rem; /* Espaço entre cada input */
}

.btn {
  background-color: #00001A;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  align-self: center; /* Centraliza o botão */
}

.btn:hover {
  background-color: #7159A8;
}

.nConta{
  font-size: 15px;
  color: white;
  padding: 10px;
}

.nConta a{
  color: #fff;
  text-decoration: none;
}

/* formulário */

#product-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 2rem;
}

#product-form input, textarea{
  background-color: #11084C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 20rem;
}

#product-form ::placeholder{
  color: #fff;
}

#product-form button, .btn-formPdt{
  background-color: #11084C;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#product-form button:hover, .btn-formPdt:hover{
  background-color: #714da6;
}

#product-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 2rem;

  list-style: none;
}

.btn-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tipo{
  display: flex;
  align-items: center;
}

#chekDia, #chekNoite{
  height: 20px;
}